VITE_API_URL=http://localhost:8000/
VITE_GOOGLE_OAUTH2_CLIENT_ID=715950981978-v6722i0tqjs8afapotq6jftrk3ucp7gt.apps.googleusercontent.com
VITE_FACEBOOK_APP_ID=663834796397807
VITE_STRIPE_PUBLIC_KEY=pk_test_51MbFiSHy6xVLM3X4CKkxYGHxydZq7Jr6bmHUjbcimVm5YCiVE1Tif5vk7BVaQt3DYvtdjvtifGMOvQ5lk3JD5YtV00JN945lB5