# STRIPE
STRIPE_SECRET_KEY=sk_test_51MbFiSHy6xVLM3X4JHptpubaBglmQwf2EbqJsDQ06M6p91XuLXrH1HXYN0dTnI8AB5Wgi1vTx9AsFkkVwH04jlAn00EXmI7xdA
STRIPE_PUBLISHABLE_KEY=pk_test_51MbFiSHy6xVLM3X4CKkxYGHxydZq7Jr6bmHUjbcimVm5YCiVE1Tif5vk7BVaQt3DYvtdjvtifGMOvQ5lk3JD5YtV00JN945lB5
SUBSCRIPTION_PLAN_ID=price_1R64XKHy6xVLM3X4H9PhXJR9
STRIPE_WEBHOOK_SECRET=whsec_a572439a88b6daa7469798acb0957651908cb406dadd5a2fb276feb1e14ed88d
# FRONTEND
FRONTEND_URL=http://localhost:5173

# BACKEND
BACKEND_URL=http://localhost:8000

# EMAIL CONFIGURATION
EMAIL_BACKEND=django.core.mail.backends.smtp.EmailBackend
SMTP_SERVER=smtp.gmail.com
SMTP_PORT=587
SMTP_USER=malikabdullah130037@gmail.com
SMTP_PASSWORD=lushmfxfpcjynsuw
FROM_EMAIL=malikabdullah130037@gmail.com
TO_EMAIL=malikabdullah130037@gmail.com

# GOOGLE
GOOGLE_OAUTH2_CLIENT_ID=715950981978-v6722i0tqjs8afapotq6jftrk3ucp7gt.apps.googleusercontent.com
GOOGLE_OAUTH2_CLIENT_SECRET=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

# FACEBOOK
FACEBOOK_OAUTH2_CLIENT_ID=663834796397807
FACEBOOK_OAUTH2_CLIENT_SECRET=509bc6da53fcee5f933e186b76641ee5